body    {
  padding-top:50px;
  width: 800px;
  margin: auto;
  -webkit-print-color-adjust:exact;
}

a {
  cursor: pointer;
}

h2 {
  font-size: 20px;
}

h3 {
  font-size: 16px;
}

h4 {
  font-size: 14px;
}

h5 {
  font-size: 12px;
}

h6 {
  font-size: 12px;
}
/* 
img {
    margin-left: 200px;
} */

table {
    margin: auto;
}

#toplevel {
  margin-bottom: 30px;
}

.type {
  display: inline-block;
  cursor: pointer;
  height: 50px;
  line-height: 40px;
  width: 110px;
  margin: 8px;
  padding: 5px 5px;
  text-align: center;
  color: #444;
  background-color: #EEE;
  text-decoration: none;
  font-family: Helvetica, sans-serif;
  font-size: 14px;
  border-bottom: 1px solid #ddd;
  border-radius: 5px;
  transition: .3s;
  overflow: hidden;
  vertical-align: middle;
}

.type:hover {
  box-shadow: 0px 8px 30px -12px rgba(0,0,0,0.75);
}

.table-wrap {
  margin: 20px 0px 20px 0px;
  width: 500px;
}

thead tr td {
  font-weight: bold;
}

td {
  padding: 5px;
}

.highlight {
  background-color: #F2F2F2;
  border: 1px solid #404040;
  border-radius: 5px;
  padding: 10px;
}

.green {
    color: #1AA260;
}

.red {
    color: #DD4D40;
}

.blue {
    color: #4B8BF5;
}

.light {
  color: #BBB;
}

.right-img {
    float: right;
}

.implem {
    width: 500px;
    margin-left: 200px;
    background-color: #F2F2F2;
    border: 1px solid #404040;
    border-radius: 5px;
    padding: 10px;
    font-size: 0.9em;
}

.indent-1 {
    margin-left: 25px;
}

.indent-2 {
    margin-left: 50px;
}

.indent-3 {
    margin-left: 75px;
}

.prob-table {
    text-align: center;
    margin-bottom: 20px;
}

.prob-table td {
    width: 70px;
    height: 40px;
}

.eq-nb {
    float:right;
    margin-right: 200px;
}